<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="checkpassword">Confirm password</label>
                    <input type="password" class="form-control" id="checkpassword" name="checkpassword">
                </div>
                <div class="form-group">
                    <label for="useravatar">Upload your avatar</label>
                    <input type="file" class="form-control" id="useravatar" name="useravatar">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                <div>Already have an account? <a href="/login">Login here!</a></div>
            </form>
        </div>
    </div>
</div>