<div class="container d-flex justify-content-center">
    <div class="col-4 mt-3">
        {{#each user}}
        <div class="row mt-3 d-flex justify-content-around">
            <div class="col-6">
                <p class="ml-3">{{username}}</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <form class="form-inline" action="/admin/edit/{{username}}" method="GET">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                    <a class="btn btn-danger ml-2" href="/admin/delete/{{_id}}">Delete</a>
                </div>  
            </div>
        </div>
        <hr>
        {{/each}}
    </div>
</div>