<div class="container user-list_container d-flex justify-content-center">
    <div class="col-5 mt-5">
        <h1 class="text-center">Active Users</h1>
        <hr class="mb-5">
        {{#each user}}
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col-2">
                <img class="rounded" src="{{avatar}}" alt="user avatar">
            </div>
            <div class="col-5">
                <p class="ml-3 mt-3">{{username}}</p>
            </div>
            <div class="col-5">
                <div class="row">
                    <form class="form-inline" action="/admin/edit/{{username}}" method="GET">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </form>
                    <a class="btn btn-danger ml-2" href="/admin/delete/{{_id}}">Delete</a>
                </div>  
            </div>
        </div>
        {{/each}}
    </div>
</div>