<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form action="/user/search/{{this.username}}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <button type="submit" class="btn btn-dark btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 user_list">
            <a href="/user/profile/{{this.username}}">
                <p><img src="{{this.avatar}}" alt="user avatar"> {{this.username}}</p>
            </a>
        </div>
    </div>
</div>

