<div class="container-fluid usersearch_container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="/user/search/{{theUser.username}}" method="POST">
                <div class="form-group mt-3">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Search user" autocomplete="off">
                </div>
                <div class="row justify-content-center">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 user_list">
            <br>
            <a href="/user/profile/{{theUser.username}}">
            {{#if theUser.avatar}}
            <img id="search_img" src="{{theUser.avatar}}" alt="user avatar">
            {{/if}}
            <br>{{theUser.username}}</a>
        </div>
    </div>
</div>

