/* INDEX CSS */

.index_container h2 {
  text-align: center;
  font-size: 3rem;
}

.details_container img {
  width: 100%;
}

.img_col img {
  width: 100%;
}

.profile_container img {
  width: 100%;
}

.profile_container img {
  width: 100%;
}

.edit-profile_container img {
  width: 100%;
}

.user-list_container img {
  width: 100%;
}

.movies_container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.movie_details h2 {
  text-align: center;
  font-size: 3rem;
}

.card {
  width: 250px;
}

.rounded img {
  border-radius: 50%;
}

#result img {
  width: 100%;
}

#errorMsg {
  background-color: rgb(255, 222, 222);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

@keyframes showFromBottom {
  0% {
    bottom: -50px;
  }

  10% {
    bottom: 10px;
  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px;
  }
}
