/* GENERAL - FOR ALL PAGES */
:root {
  --bg-color: #202124;
}

body {
  background-color: var(--bg-color);
  color: white;
}

.container {
  margin-top: 100px;
  font-family: sans-serif;
}
/* NAVBAR */
.navbar {
  opacity: 0.9;
}

.navbar img {
  width: 20px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

/* INDEX PAGE */
.index_container h2 {
  font-family: 'Courier';
}

#wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

.main-movie p {
  max-lines: 3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-movie img {
  width: 5vh;
  height: 5vh;
  margin-right: 2vh;
}

.movie-content {
  position: absolute;
  width: 45%;
  height: 50vh;
  left: 45%;
  top: 22vh;
  background: #202124;
  border-radius: 8px;
}

.movie-footer {
  position: absolute;
  width: 100%;
  height: 30vh;
  left: 0px;
  top: 80vh;
  background: #33373c;
  opacity: 0.8;
  backdrop-filter: blur(100px);
  font-family: Courier;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-footer p {
  margin-top: 0.1vh;
  padding: 1.5vh;
  background: black;
  border-radius: 20px;
}

.movie-footer img {
  width: 74px;
  height: 98px;
  margin-bottom: 4vh;
}

.movie {
  background: url('/images/index-bg-large.jpg') no-repeat fixed top center /
    cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.movie-card {
  background: #353a3f;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.movie-card img {
  border-radius: 8px;
}

.movie-card h5 {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1vh;
  margin-bottom: 1vh;
}

.movie-card p {
  margin: 1vh;
  color: rgba(255, 255, 255, 0.8);
}

.title-logo {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.logo {
  width: 100%;
  opacity: 0.9;
  overflow: hidden;
}

#wrapper h1 {
  color: white;
  padding: 1vh;
  border: 0.2vh solid white;
}

.content {
  height: 100vh;
  padding: 100px 0;
}

.index_container h2 {
  text-align: center;
  font-size: 3rem;
}

.details_container img {
  width: 100%;
}

.user_list {
  text-align: center;
}

.user_list a {
  text-align: center;
  font-size: 3rem;
  margin-top: 15px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.user_list a:hover {
  text-decoration: none;
}

.user_list img {
  width: 20%;
}

.img_col img {
  width: 100%;
}

.profile_container img {
  width: 100%;
}

.profile_container img {
  width: 100%;
}

.edit-profile_container img {
  width: 100%;
}

.user-list_container img {
  width: 100%;
}

.movies_container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.movie_details h2 {
  text-align: center;
  font-size: 3rem;
}

.movie-content {
  padding: 25px;
  margin: auto;
}

.movie-content-inner img {
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  object-fit: cover;
}

.card {
  width: 250px;
}

.rounded img {
  border-radius: 50%;
}

.img_col img {
  width: 100%;
}

.mod_container {
  text-align: center;
}

.comment_container {
  min-width: 35%;
  text-decoration: none;
  color: white;
}

.comment_container {
  color: white;
}

.comment_container a:hover {
  text-decoration: none;
}

.modbutton {
  background-color: #ffc700;
  width: 30%;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
}
.modbutton a {
  color: black;
}

.modbutton:hover {
  background-color: #ffd646;
  color: black;
}

.modbutton {
  text-decoration: none;
}

#result img {
  width: 100%;
}

#content {
  width: 100%;
}

#search_img {
  border-radius: 100%;
}

#navbar_avatar {
  width: 45px;
  margin: 0px 15px;
}

#errorMsg {
  background-color: rgb(255, 222, 222);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 20px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

/* KEYFRAMES */

@keyframes showFromBottom {
  0% {
    bottom: -50px;
  }

  10% {
    bottom: 10px;
  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px;
  }
}

/* REGISTER CSS */

.register_container {
  background-image: url('/images/register_bg.png');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.register_form {
  width: 30vw;
  background-color: #353a3f;
  padding: 50px;
  margin-top: 10vh;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 5px black;
}

.register_form input {
  background: #353a3f;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}

.register_form input:focus {
  background-color: #353a3f;
  color: white;
  border: 1px solid #ffc700;
}

.register_form button {
  background-color: #ffc700;
  width: 30%;
  padding: 8px 16px;
  border-radius: 20px;
}

.register_form img {
  width: 20%;
}

.register_form button:hover {
  background-color: #ffd646;
}

.register_form a {
  color: #ffc700;
}

label {
  cursor: pointer;
}

.custom-file-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.upload_button {
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 25px;
}

.upload_button:hover {
  border: 1px solid #ffc700;
}

/* LOGIN CSS */

.login_container {
  background-image: url('/images/register_bg.png');
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.login_form {
  width: 15vw;
  background-color: #353a3f;
  padding: 50px;
  margin-top: 10vh;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 5px black;
}

.login_form input {
  background: #353a3f;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}

.login_form input:focus {
  background-color: #353a3f;
  color: white;
  border: 1px solid #ffc700;
}

.login_form button {
  background-color: #ffc700;
  width: 30%;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
}

.login_form button:hover {
  background-color: #ffd646;
}

.login_form a {
  color: #ffc700;
}

/* MOVIE SEARCH CSS */

.moviesearch_container {
  background-color: #202124;
}

.search_container input {
  width: 100%;
  margin: auto;
  background: #353a3f;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}

.search_container input:focus {
  background-color: #353a3f;
  color: white;
  border: 1px solid #ffc700;
}

.input_container {
  margin-top: 15%;
}

.results_container {
  background-color: #353a3f;
  border-radius: 25px;
  padding: 0px 100px;
}

/* USER SEARCH CSS */

.usersearch_container {
  background-color: #202124;
}

.usersearch_container input {
  width: 100%;
  margin: auto;
  background: #353a3f;
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
}

.usersearch_container input:focus {
  background-color: #353a3f;
  color: white;
  border: 1px solid #ffc700;
}

.usersearch_container {
  margin-top: 5%;
}

.usersearch_container {
  border-radius: 25px;
  padding: 0px 100px;
}

.usersearch_container button {
  background-color: #ffc700;
  width: 30%;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
}

.usersearch_container button:hover {
  background-color: #ffd646;
}

.user_list a {
  color: white;
}

/* MOD COMMENTS CSS */

.mod_container {
  color: white;
}

.comment_container {
  background-color: #353a3f;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 50px;
}

/* INDEX CSS */

.movieradar_container a {
  background-color: #ffc700;
  width: 30%;
  padding: 8px 16px;
  border-radius: 20px;
  color: black;
  padding: 10px 20px;
}

.movieradar_container a:hover {
  background-color: #ffd646;
  text-decoration: none;
}

/* PROFILE CSS */

.profile_container {
  background-color: #353a3f;
  border-radius: 25px;
  box-shadow: 0px 0px 25px 5px black;
  padding: 25px;
  width: 100%;
  font-size: 1.8rem;
}

.profile_avatar img {
  width: 100%;
  border-radius: 15px;
}

.follow_count {
  font-size: 1.6rem;
}

.profile_button {
  background-color: #ffc700;
  width: 75%;
  border-radius: 20px;
  color: black;
  font-size: 1.4rem;
  text-align: center;
  padding: 10px;
}

.profile_button:hover {
  background-color: #ffd646;
  text-decoration: none;
  color: black;
}

.follow_list {
  padding: 15px;
}

.follow_list a {
  color: white;
}

.follow_list a:hover {
  text-decoration: none;
  color: #ffd646;
}

/* MESSAGES CSS */

.received {
  background-color: #353a3f;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px black;
}

.received a {
  color: white;
}

.received a:hover {
  color: #ffd646;
  text-decoration: none;
}

.sent {
  background-color: #353a3f;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px black;
}

.sent a {
  color: white;
}

.sent a:hover {
  color: #ffd646;
  text-decoration: none;
}

/** DETAILS CSS **/

.details_container {
  background-color: #353a3f;
  padding: 50px 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 5px black;
}

.details_container a {
  background-color: #ffc700;
  color: black;
}

.details_container button {
  background-color: #ffc700;
  color: black;
}

.details_container a:hover {
  background-color: #ffd646;
  color: black;
}

.details_container button:hover {
  background-color: #ffd646;
  color: black;
}

/** ADD COMMENT CSS **/

.addcomm_container {
  background-color: #353a3f;
  padding: 50px;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 5px black;
  text-align: center;
}

.addcomm_container button {
  background-color: #ffc700;
  color: black;
}

.addcomm_container button:hover {
  background-color: #ffd646;
  color: black;
}
