<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <form action="/movies/search" method="GET">
            <div class="form-group">
                <label for="movie">Enter movie name:</label>
                <input type="text" class="form-control" id="movie" name="movie">
            </div>
            <button type="submit" class="btn btn-dark btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" id="result">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
